h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
form {
    text-align: center;
}

.col-md-12 {
    text-align: center;
}

#container {
    display: block;

}

